header {
  grid-area: header;
  background-color: #203040;
  color: #f3ecec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 10%;
 }

 header a {
  color: #ffffff;
  text-decoration: none;
}

header a:hover {
  color: #ff8000;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 300 60rem;
}
.sidebar {
  flex: 144 20rem;
}

/* items */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.items li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.item img {
  max-width: 37rem;
  max-height: 37rem;
}

.item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-price div {
  text-align: center;
  flex: 1;
}

.item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name div {
  text-align: center;
  flex: 1;
}